version: "3.4"

volumes:
  db:
  appdata:


networks:
  proxy:
    external: true
    name: proxy
  internal:


services:
  # MariaDB for data in Nextcloud
  db:
    image: mariadb:10.6
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    restart: always
    volumes:
      - db:/var/lib/mysql:Z
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    env_file:
      - .env
    networks:
      - internal

  # Redis DB for caching Nextcloud
  cache:
    image: redis:alpine
    restart: always
    networks:
      - internal

  # The Nextcloud itself
  app:
    container_name: nextcloud-app
    image: nextcloud:latest
    restart: always
    volumes:
      - appdata:/var/www/html:z
      - ./config/additional.config.php:/var/www/html/config/additional.config.php
    environment:
      - MYSQL_HOST=db
      - REDIS_HOST=cache
    env_file:
      - .env
    depends_on:
      - db
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`cloud.queerreferat.ac`)"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-dav,sec-headers"
      - "traefik.http.middlewares.nextcloud-dav.replacepathregex.regex=^/.well-known/ca(l|rd)dav"
      - "traefik.http.middlewares.nextcloud-dav.replacepathregex.replacement=/remote.php/dav/"
      - "traefik.http.middlewares.sec-headers.headers.referrerPolicy=no-referrer"
      - "traefik.http.middlewares.sec-headers.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.sec-headers.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.sec-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.sec-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.sec-headers.headers.browserXssFilter=true"
      - "traefik.http.middlewares.sec-headers.headers.customRequestHeaders.X-Forwarded-Proto=https"
    networks:
      - proxy
      - internal
  # Cron Job for Nextcloud
  # nextcloud-cron:
  #   image: nextcloud:fpm-alpine
  #   restart: always
  #   volumes:
  #     - nextcloud-app:/var/www/html:z
  #   entrypoint: /cron.sh
  #   depends_on:
  #     - nextcloud-db
  #     - nextcloud-cache
  #   networks:
  #     - nc_internal
